<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectNoticeList">
	
	
		<!-- ORDER BY CREATE_DATE DESC 로 변경하기!!!!!!!!!!!!!!!!!!!!!! -->
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
		FROM (SELECT BOARD_NO,
		BOARD_TITLE,
		COUNT,
		CREATE_DATE
		FROM BOARD 
		WHERE BOARD_TYPE = 1
		AND STATUS = 'Y'
		ORDER BY BOARD_NO ASC) A)
		WHERE RNUM BETWEEN ? AND ?

	
</entry>



<entry key="selectListCount">


	SELECT COUNT(*) COUNT
		FROM BOARD
		WHERE BOARD_TYPE=1
		AND STATUS ='Y'
	
</entry>

</properties>